* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* The animation code */
@keyframes textAnimay {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  40% {
    opacity: 70%;
  }
  60% {
    opacity: 85%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
